<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Login</title>
</head>
<body>
<header>

</header>
<main>
  <div class="bluebox"></div>
  <div class="black"></div>
  <div class="Logo">
    <img src="src/logs.gif">
  </div>
  <form #connectpeopleform="ngForm" (ngSubmit)="OnSubmit(connectpeopleform)" novalidate>
    <!--  Input Fields-->
    <div class="LoginText">LOGIN</div>
    <div class="Email">Email / ID</div>
    <input type="email" class="Logintextbox" id="email" name="email" #email="ngModel" [(ngModel)]="model.email" required email [ngClass]="{'is-invalid': email.touched && email.invalid}" />
    <div *ngIf="email.errors?.['required'] && email.touched" class="EmailInvalid">Email is required.</div>

    <div class="Password">Password</div>
    <input type="password" class="Passwordtextbox" id="passwordtext" name="passwordtext" #passwordtext="ngModel" [(ngModel)]="model.password" required [ngClass]="{'is-invalid': passwordtext.touched && passwordtext.invalid}"/>
    <div *ngIf="passwordtext.errors?.['required'] && passwordtext.touched" class="EnterPassword">Password required</div>
    <button type="submit" class="loginbutton" [disabled]="connectpeopleform.invalid"><div id="login">SignIn</div></button>
    <div class="blackbox">
      <span class="tag">Need Registration?</span>
    </div>
  </form>
</main>
</body>
</html>
