
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Login</title>
</head>
<body>
<header>

</header>
<main>
  <div class="bluebox"></div>
  <div class="black"></div>
  <div class = "Logo">
    <img src="src/logs.gif">
  </div>

<!--  Input Fields-->
  <div class="LoginText">LOGIN</div>
  <div class="Email">Email / ID</div>
  <div class="Logintextbox"></div>
  <div class="Password">Password</div>
  <div class="Passwordtextbox"></div>
  <div class="Need Registration"></div>
  <div class="loginbutton">
    <div id="login">SignIn</div>
  </div>
  <div class="blackbox">
    <span class="tag">Need Registration?</span>
  </div>
</main>

</body>
</html>
